@model ExamAppMvc.Models.DbModel.NewUserAnswer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewUserAnswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionAnswer.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionAnswer.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTure)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
