@model ExamAppMvc.Models.DbModel.SubjectClassTopic

@{
    ViewBag.Title = "Index";
}
<style>
    .upperleft {
        display: block;
        text-align: left;
        vertical-align: top;
    }
</style>
<h2>Index</h2>
@using (Html.BeginForm("Result", "Answers", new { id = Model.Id}))

{

    int i = 1;

    foreach (var item in Model.QuestionAnswer.ToList())
    {

        <div class="question">
            <div class="title">
                @i)	@item.Text
            </div>
            <ul class="answers">
                @if (item.A != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="optionsRadios1" value="A" />
                                A) @item.A
                            </label>
                        </div>
                    </li>
                }
                @if (item.B != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="optionsRadios1" value="B" />
                                B) @item.B
                            </label>
                        </div>
                    </li>
                }
                @if (item.C != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="optionsRadios1" value="C" />
                                C) @item.C
                            </label>
                        </div>
                    </li>
                }
                @if (item.D != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="optionsRadios1" value="D" />
                                D) @item.D
                            </label>
                        </div>
                    </li>
                }
                @*@if (item.E != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="optionsRadios1" value="E" />
                                E) @item.E
                            </label>
                        </div>
                    </li>
                }*@

            </ul>
        </div>
        i++;
    }
    <button type="submit" class="btn btn-primary">Tamamla</button>


}

