@model ExamAppMvc.Models.DbModel.SubjectClassTopic

@{
    ViewBag.Title = "Index";
}
<style>
    .question {
        padding: 10px 0px;
    }

        .question .title {
            padding: 8px;
            background-color: antiquewhite;
            color: black;
            margin-bottom: 20px;
            line-height: 2;
            border-top: 1px solid #ddd;
            border-radius: 5px;
        }

        .question .answers {
            list-style-type: square ;
        }

</style>
<h2>Questions</h2>
@using (Html.BeginForm("Result", "Answers", new { id = Model.Id}))

{

    int i = 1;

    foreach (var item in Model.QuestionAnswer.ToList())
    {

        <div class="question">
            
            <div class="title">
                @i)	@item.Text
            </div>
            <ul class="answers">
                @if (item.A != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="1" value="A" />
                                A) @item.A
                            </label>
                        </div>
                    </li>
                }
                @if (item.B != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="1" value="B" />
                                B) @item.B
                            </label>
                        </div>
                    </li>
                }
                @if (item.C != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="1" value="C" />
                                C) @item.C
                            </label>
                        </div>
                    </li>
                }
                @if (item.D != null)
                {

                    <li>
                        <div class="radio">
                            <label>
                                <input type="radio" name="@item.ID" id="1" value="D" />
                                D) @item.D
                            </label>
                        </div>
                    </li>
                }
               

            </ul>
        </div>
                i++;
    }
    <button type="submit" class="btn btn-primary">Check Your Answers</button>


}

