@model IEnumerable<ExamAppMvc.Models.DbModel.Answer>

@{
    ViewBag.Title = "Index";
}
<style>
    .upperleft {
        display: block;
        text-align: left;
        vertical-align: top;
    }
</style>
<h2>Index</h2>
@using (Html.BeginForm())

{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="container">

        <table class="table table-bordered">


            @foreach (var item in @ViewBag.Question)
            {
                <thead>
                    <tr>

                        <th class="col-md-12">
                            <input type="text" disabled value=" @item.Text">

                            <input type="hidden" disabled value=" @item.Id" name="QuestionId">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>
                            @foreach (var a in item.Answers)
                            {




                                @*<div class="upperleft">
                                        <input type="radio" value="@a.Id" name="@item.Id" />@a.Text  <br />

                                    </div>*@

                                <div id="@item.Id">
                                    <input type="radio" value="@a.Id" name="Id[@item.Id]">@a.Text  <br />

                                </div>

                            }
                        </td>


                    </tr>

                </tbody>
            }

        </table>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>}

